* {
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    background-color:rgb(201, 244, 244);
    color: gray;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: rgb(18, 136, 200);
}

#todo {
    display: flex;
    flex-direction: column;
}

input,button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
.input {
    display: flex;
    background-color: rgb(173, 202, 218);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#new-task {
    flex: 1;
    font-size: 1.25rem;
    justify-content: space-between;
}

#new-task::placeholder {
    color:rgb(15, 111, 180);
}

#Submit {
    font-size: 1.25rem;
    font-weight: 700;
    color: crimson;
    cursor: pointer;
    transition: 0.4s;
}

#Submit:hover {
    color: darkblue;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.list {
    padding: 1.5rem;
}

.list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(7, 64, 109);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(173, 202, 218);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text{
    color:rgb(15, 111, 180);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .actions {
    display: flex;
    margin: 0 --0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions .edit  {
    color: crimson;
}

.task .actions .Done {
    color: crimson;
}